{% extends 'base.html' %}

{% block title %}Kaboom - The comic book and cartoon tracker{% endblock %}

{% block content %}
<div class="header">
    <center>
        <h1>💥 KABOOM!</h1>
    </center>
</div>
<div class="about container">
    {% if user.is_authenticated %}
    <h3>Welcome, {{ user.username }}!</h3>
    <code><a href="{% url 'profile' %}">Account details</a>. Wrong account? <a href="{% url 'logout' %}">Logout</a></code>
    {% else %}
    <h3>What is Kaboom?</h3>
    {% endif %}
    <p>Kaboom is a database of comics and cartoons. It contains metadata about comic issues, cartoon episodes,
        characters and so on (you can see the full list <a href="#features-list">below</a>). You can also create an
        account and track the issues and episodes that you have
        watched/read.</p>
    <h3>So, how do I use Kaboom?</h3>
    <p>As mentioned above, Kaboom is just a database. You need to use an app to actually access the data (for
        now), there are a list of <a href="#apps-list">apps below</a>. If you want to make an app, check out
        the <a href="/docs">docs</a>.</p>
    {% if not user.is_authenticated %}
    <h3>How do I make an account?</h3>
    <p>You can either make an account here on this website or via a <a href="#apps-list">app</a>. You can also
        login to manage your account directly.</p>
    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    <a href="{% url 'signup' %}" class="btn btn-primary">Signup</a>
    {% endif %}
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: auto;">
                <div class="cst-container">
                    <h1>📚 {{num_of_comics}}</h1>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Comics</h5>
                    <p class="card-text">We currently have {{num_of_comics}} comics in our database!</p>
                    <a href="/v1/comics" class="btn btn-primary" id="comic-link">Comics</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card row-0" style="width: auto;">
                <div class="cst-container">
                    <h1>🐉 {{num_of_cartoons}}</h1>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Cartoons</h5>
                    <p class="card-text">We currently have {{num_of_cartoons}} cartoons in our database!</p>
                    <a href="/v1/cartoons" class="btn btn-primary" id="cartoon-link">Cartoons</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card row-1" style="width: auto;">
                <div class="cst-container">
                    <h1>😃 {{num_of_users}}</h1>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Users</h5>
                    <p class="card-text">Join {{num_of_users}} others in tracking their favourite comics and
                        cartoons!</p>
                    {% if not user.is_authenticated %}
                    <a href="{% url 'signup' %}" class="btn btn-primary">Join now</a>
                    {% else %}
                    <a href="#apps-list" class="btn btn-primary">Apps</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--
        <div class="col-sm-6">
            <div class="card row-1" style="width: auto;">
                <div class="cst-container">
                    <h1>🤔 {{num_of_thoughts}}</h1>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Thoughts</h5>
                    <p class="card-text">{{num_of_thoughts}} thoughts have been written by users.</p>
                    <a href="#apps-list" class="btn btn-primary">Check it out!</a>
                </div>
            </div>
        </div>
        -->
    </div>
</div>
<div class="section container">
    <h3 id="features-list">Features</h3>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <div class="card mb-3" style="max-width: auto; height: 100%;">
                <div class="card-header">Accounts</div>
                <div class="card-body text-dark">
                    <ul>
                        <li>User following</li>
                        <li>Comics and cartoons tracking</li>
                        <li>Write your own thoughts</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-3" style="max-width: auto; height: 100%;">
                <div class="card-header">Comics metadata</div>
                <div class="card-body text-dark">
                    <ul>
                        <li>Comic series</li>
                        <li>Issues</li>
                        <li>Publishers</li>
                        <li>Characters</li>
                        <li>Staff</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card mb-3" style="max-width: auto; height: 100%;">
                <div class="card-header">Cartoons metadata</div>
                <div class="card-body text-dark">
                    <ul>
                        <li>Cartoon series</li>
                        <li>Episodes</li>
                        <li>Networks</li>
                        <li>Characters</li>
                        <li>Actors</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="apps section container">
    <h3 id="apps-list">Apps</h3>
    <p>There are no apps yet, check back soon!</p>
    <p>Want to make your own app? Check out the <a href="/docs">docs</a>!</p>
    <h6>Note for developers: Make sure to read the <a href="/dev-guides">Developer Guidlines</a> before making an app.
    </h6>
</div>
<div class="section container">
    <h3 id="support-the-project">Want to support the development of Kaboom?</h3>
    <p>There are a few ways you can support Kaboom:</p>
    <h5>Donations</h5>
    <p>Donate to the project, all proceedings will go towards improvements for Kaboom.</p>
    <form action="https://www.paypal.com/donate" method="post" target="_top">
        <input type="hidden" name="hosted_button_id" value="R7R4U3ED99G74" />
        <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit"
            title="Donate with PayPal" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1" />
    </form>
    <br>
    <h5 id="contribute">Contribute</h5>
    <p>If you're a developer you can also <a href="https://github.com/kaboom-db/kaboom-api">contribute</a> to the
        project as Kaboom is <a href="https://en.wikipedia.org/wiki/Open_source">open source</a>. You can also make your
        own <a href="/docs">app</a>.</p>
</div>
{% endblock %}