{% extends 'base.html' %}

{% block title %}Kaboom - Profile{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="header">
    <center>
        <div class="pfp-header">
            <img src="{{ image }}" alt="profile" class="pfp">
            <h1>{{ user.username }}</h1>
        </div>
    </center>
</div>
<div class="section container">
    <h3>Your account details</h3>
    <br>
    <div>
        <code>Note: your profile picture can be edited over at <a href="https://gravatar.com">Gravatar</a> using your email. Kaboom does not store user profile pictures.</code>
        <p><b>Email: </b>{{ user.email }}</p>
        <p><b>Biography: </b>{{ user_data.bio }}</p>
        {% if user_data.private == False %}
        <p><b>Private: </b>No</p>
        {% else %}
        <p><b>Private: </b>Yes</p>
        {% endif %}
        <div>
            <code><a data-bs-toggle="collapse" href="#collapseWatched" role="button" aria-expanded="false" aria-controls="collapseWatched">Last watched card</a> | <a data-bs-toggle="collapse" href="#collapseRead" role="button" aria-expanded="false" aria-controls="collapseRead">Last read card</a></code>
            <div class="collapse" id="collapseWatched">
                <div class="card card-body">
                    <img src="{% url 'watched' user.username %}" alt="Watched card" height="500px" width="auto">
                    <br>
                    <p>If you want to use this card in your website/blog, add this code:</p>
                    <pre>&lt;img src="https://kaboomdb.org{% url 'watched' user.username %}" alt="Watched card" /&gt;</pre>
                </div>
            </div>
            <div class="collapse" id="collapseRead">
                <div class="card card-body">
                    <img src="{% url 'read' user.username %}" alt="Read card" height="500px" width="auto">
                    <br>
                    <p>If you want to use this card in your website/blog, add this code:</p>
                    <pre>&lt;img src="https://kaboomdb.org{% url 'read' user.username %}" alt="Read card" /&gt;</pre>
                </div>
            </div>
        </div>
        <br>
    </div>
    <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
    <a href="{% url 'password_reset' %}" class="btn btn-primary">Reset Password</a>
    {% if user.is_staff %}
    <a href="/admin" class="btn btn-primary">Kaboom Admin</a>
    {% endif %}
    <a href="{% url 'index' %}" class="btn btn-primary">Cancel</a>
</div>
{% else %}
<div class="header">
    <center>
        <h1>You're not logged in</h1>
    </center>
</div>
<div class="section container">
    <h3>Login to manage your account.</h3>
    <br>
    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    <a href="{% url 'index' %}" class="btn btn-primary">Cancel</a>
</div>
{% endif %}
{% endblock %}