{% extends 'base.html' %}

{% load markdown_extras %}

{% block title %}Kaboom - Profile{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<style>
    img {
        max-width: 100%;
        height: auto;
    }
</style>

<div class="header">
    <center>
        <div class="pfp-header">
            <img src="{{ image }}" alt="profile" class="pfp">
            <h1>{{ user.username }}</h1>
        </div>
    </center>
</div>
<div class="section container">
    <h3>Your account details</h3>
    <br>
    <div>
        <code>Note: your profile picture can be edited over at <a href="https://gravatar.com">Gravatar</a> using your email. Kaboom does not store user profile pictures.</code>
        <div class="card card-body">
            <p><b>Email: </b></p>
            <p id="email">{{ user.email }}</p>
            {% if user_data.private == False %}
            <p><b>Private: </b></p>
            <p>No</p>
            {% else %}
            <p><b>Private: </b></p>
            <p>Yes</p>
            {% endif %}
        </div>
        <br>
        <div class="card card-body">
            <p><b>Biography: </b></p>
            <p id="markdown">{{ user_data.bio | markdown | safe }}</p>
        </div>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: auto; height: auto;">
                    <div class="card-header">Cartoons</div>
                    <div class="card-body text-dark">
                        {% if user_comics %}
                        <ul>
                            {% for cartoon in user_cartoons %}
                            <li><a href="/v1/cartoons/series/{{ cartoon.series.id }}">{{ cartoon.series.name }}</a></li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>You have no subscribed cartoons.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card mb-3" style="max-width: auto; height: auto;">
                    <div class="card-header">Comics</div>
                    <div class="card-body text-dark">
                        {% if user_comics %}
                        <ul>
                            {% for comic in user_comics %}
                            <li><a href="/v1/comics/series/{{ comic.series.id }}">{{ comic.series.series_name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <p>You have no subscribed comics.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div>
            <code><a data-bs-toggle="collapse" href="#collapseWatched" role="button" aria-expanded="false" aria-controls="collapseWatched">Last watched card</a> | <a data-bs-toggle="collapse" href="#collapseRead" role="button" aria-expanded="false" aria-controls="collapseRead">Last read card</a></code>
            <div class="collapse" id="collapseWatched">
                <div class="card card-body">
                    {% if not user_data.private %}
                    <img src="{% url 'watched' user.username %}" alt="Watched card" height="500px" width="auto">
                    <br>
                    <p>If you want to use this widget in your website/blog, add this code:</p>
                    <pre>&lt;img src="https://kaboomdb.org{% url 'watched' user.username %}" alt="Watched card" /&gt;</pre>
                    {% else %}
                    <p>You cannot use Kaboom widgets as your account is private.</p>
                    {% endif %}
                </div>
            </div>
            <div class="collapse" id="collapseRead">
                <div class="card card-body">
                    {% if not user_data.private %}
                    <img src="{% url 'read' user.username %}" alt="Read card" height="500px" width="auto">
                    <br>
                    <p>If you want to use this card in your website/blog, add this code:</p>
                    <pre>&lt;img src="https://kaboomdb.org{% url 'read' user.username %}" alt="Read card" /&gt;</pre>
                    {% else %}
                    <p>You cannot use Kaboom widgets as your account is private.</p>
                    {% endif %}
                </div>
            </div>
        </div>
        <br>
    </div>
    <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
    <a href="{% url 'password_reset' %}" class="btn btn-primary">Reset Password</a>
    {% if user.is_staff %}
    <a href="/admin" class="btn btn-primary">Kaboom Admin</a>
    {% endif %}
    <a href="{% url 'index' %}" class="btn btn-primary">Cancel</a>
</div>
{% else %}
<div class="header">
    <center>
        <h1>You're not logged in</h1>
    </center>
</div>
<div class="section container">
    <h3>Login to manage your account.</h3>
    <br>
    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    <a href="{% url 'index' %}" class="btn btn-primary">Cancel</a>
</div>
{% endif %}
{% endblock %}