{% extends 'base.html' %}

{% block title %}Kaboom - Profile{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    <div class="header">
        <center>
            <div class="pfp-header">
                <img src="{{ image }}" alt="profile" class="pfp">
                <h1>{{ user.username }}</h1>
            </div>
        </center>
    </div>
    <div class="section container">
        <h3>Manage your account:</h3>
        <br>
        <code>Note: your image can be edited over at <a href="https://gravatar.com">Gravatar</a>. Kaboom does not store user profile pictures.</code>
        <p><b>Image URL: </b>{{ image }}</p>
        <p><b>Email: </b>{{ user.email }}</p>
        <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
        <a href="{% url 'password_reset' %}" class="btn btn-primary">Reset Password</a>
        <a href="" class="btn btn-primary">API Apps</a>
        <a href="{% url 'index' %}" class="btn btn-primary">Cancel</a>
    </div>
{% else %}
<div class="header">
    <center>
        <h1>You're not logged in</h1>
    </center>
</div>
<div class="section container">
    <h3>Login to manage your account.</h3>
    <br>
    <a href="{% url 'login' %}" class="btn btn-primary">Login</a>
    <a href="{% url 'index' %}" class="btn btn-primary">Cancel</a>
</div>
{% endif %}
{% endblock %}