@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.header {
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
    background: rgb(255,95,109);
    background: linear-gradient(90deg, rgba(255,95,109,1) 0%, rgba(255,195,113,1) 77%);
}

.about {
    padding: 10px;
    padding-top: 30px;
}

.section {
    padding: 25px;
}

.clients {
    padding-bottom: 35px;
}

.row-1 {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.cst-container {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    height: 25vh;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.row-1 {
    margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .row-0 {
        margin-top: 20px;
    }
}

a, a:hover {
    color: rgb(255,95,109) !important;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: rgb(255,95,109) !important;
    border-color: rgb(255,95,109) !important;
    color: white !important;
}

::-moz-selection {
    color: rgb(255,95,109);
    background-color: rgba(255,195,113,1);
}

::selection {
    color: rgb(255,95,109);
    background-color: rgba(255,195,113,1);
}

.border-dark {
    border-color: gray !important;
}

.footer {
    background-color: rgb(19, 19, 19) !important;
    margin-top: auto;
}

.pfp {
    border-radius: 50%;
    border: 5px rgb(19, 19, 19) solid;
}