{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | Kaboom admin{% endblock %}

{% block extrastyle %}
<link rel="shortcut icon" href="{% static 'images/favicon.ico' type='image/x-icon' %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
<link rel="manifest" href="{% static 'images/site.webmanifest' %}">
<link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg' %}" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
{% endblock %}

{% block branding %}
<style>
    :root {
        --primary: rgba(255, 95, 109, 1);
        --secondary: rgba(255, 195, 113, 1);
        --link-fg: var(--primary);
        --link-hover-color: var(--secondary);
        --button-hover-bg: var(--primary);
        --default-button-bg: var(--primary);
        --default-button-hover-bg: var(--button-hover-bg);
        --body-bg: rgba(10, 10, 10, 1);
        --body-fg: rgba(255, 255, 255, 1);
        --darkened-bg: rgba(5, 5, 5, 1);
        --selected-row: rgba(0, 0, 0, 1);
        --selected-bg: rgba(0, 0, 0, 1);
        --hairline-color: rgba(0, 0, 0, 0);
        --breadcrumbs-fg: rgba(255, 255, 255, 1);
        --body-quiet-color: rgba(255, 255, 255, 1);
        --close-button-bg: var(--primary);
        --close-button-hover-bg: rgba(0, 0, 0, 0);
        --message-success-bg: rgba(0, 0, 0, 1);
        --message-warning-bg: rgba(0, 0, 0, 1);
        --message-error-bg: rgba(0, 0, 0, 1);
    }

    #header {
        background: linear-gradient(90deg, rgba(255, 95, 109, 1) 0%, rgba(255, 195, 113, 1) 77%) !important;
    }

    #user-tools {
        color: rgb(10, 10, 10);
    }

    #user-tools a:link {
        color: rgb(10, 10, 10);
    }

    #user-tools a:visited {
        color: rgb(10, 10, 10);
    }

    #user-tools a:hover {
        color: rgb(10, 10, 10);
    }

    ::selection {
        color: var(--secondary);
        background-color: var(--primary);
    }

    ::-moz-selection {
        color: var(--secondary);
        background-color: var(--primary);
    }

    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: var(--secondary);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: var(--secondary);
    }
</style>

<div id="branding">
    <h1 id="site-name">
        <a href="{% url 'index' %}">
            <img src="{% static 'images/logo.svg' %}" height="60px" />
        </a>
    </h1>
</div>
{% endblock %}

{% block nav-global %}{% endblock %}