{% extends 'admin/change_form.html' %}

{% block after_related_objects %}
    {{ block.super }}
    <style>
        .deletelink {
            background: var(--delete-button-bg) !important;
        }

        @media only screen and (max-width: 768px) {
            .customdelete {
                width: 100%;
            }
        }
    </style>
    
    <p>
        Here are some things to keep in mind when approving an image:
        <ul>
            <li>No sexually explicit content is allowed.</li>
            <li>Each record must be valid - for example you cannot submit a logo type for an episode.</li>
            <li>Make sure that the object id actually exists in the database (it will throw an error if it doesn't anyway).</li>
            <li>Try to accept images with acceptable aspect ratios - for example a logo should be 1:1 aspect ratio with no background.</li>
        </ul>
        Have a look at the <a href="">data contribution guidelines</a> if you are unsure, or feel free to contact one of the other admins.
    </p>

    <div class="submit-row">
            <input type="submit" value="Approve" name="_approve">
            <p class="deletelink-box"><input type="submit" value="Reject" name="_reject" class="deletelink customdelete"></p>
    </div>
{% endblock %}